<div class="container mt-1" appDnd (fileDropped)="onFileDropped($event)"  style="color: white;">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
  <fa-icon [icon]="faUpload" style="font-size: 32px;"></fa-icon>
  <h3  style="color: white;">Drag and drop file here</h3>
  <h3  style="color: white;">or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<p *ngIf="errFile">
  <ngb-alert type="danger" (closed)="errFile ='' ">
    {{errFile}}
  </ngb-alert>
</p>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <fa-icon [icon]="faFileAlt" style="font-size: 16px;"></fa-icon>
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <app-progress [progress]="file?.progress"></app-progress>
    </div>
    <fa-icon [icon]="faTrashAlt" style="font-size: 32px;" class="delete" width="20px" alt="file"
      (click)="deleteFile(i)"></fa-icon>
  </div>
</div>
<form [formGroup]="uploadForm" class="ml-3">

      <div class="form-check"  style="color: white;">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
          formControlName="frm_print_auto_start">
        <label class="form-check-label" for="defaultCheck1">
          Auto print when upload complete
        </label>
      </div>
      <button [disabled]="files.length == 0 " class="btn btn-success" (click)="uploadFile()">Upload</button>
      <button class="btn btn-primary" routerLink="/print">Back</button>


</form>