<h3 style="color: white;"> Print</h3>
<p *ngIf="error">
  <ngb-alert type="danger" (closed)="error ='' ">
    {{error}}
  </ngb-alert>
</p>
<div class="container">
  <div class="row">
    <div class="col-10 ml-1" style="color: white;   border-style: solid;  border-color: white;">
      <div class="mb-1">
        <b> Select print: </b>
        <form [formGroup]="printForm"> 
          <div class="input-group ">
            
            <span  *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> 
            <select *ngIf="!loading"class="form-control" formControlName="frm_file_to_print">
              <option *ngFor="let file of printUiData.listFiles" [ngValue]="file.fileName" >
                {{ file.fileName }}
              </option>
            </select>

            <div class="input-group-append">

              <fa-icon class="input-group-text" [icon]="faUpload" id="basic-addon2" routerLink="/fileUpload"></fa-icon>
            </div>
          </div>
        </form>
        <!-- <ngb-timepicker [(ngModel)]="time" [seconds]="true"></ngb-timepicker> -->

      </div>

      Extractor fan on auto:<br />
      <app-extr-auto-button class="mb-1" [loadOnInit]="true"></app-extr-auto-button>

      <br />
      <hr style="border-color: white" />
      <div class="mt-2">
        <Button [disabled]="loading || printUiData?.printing || stoppingLoading" class="btn btn-success mr-1" (click)="start()">Start</Button>
        <button [disabled]="!printUiData?.printing || stoppingLoading" class="btn btn-danger mr-1" (click)="stop()">
          <span  *ngIf="stoppingLoading" class="spinner-border spinner-border-sm mr-1"></span> Stop</button>
        <button [disabled]="stoppingLoading"class="btn btn-primary " routerLink="/"> Back </button>
      </div>
    </div>
  </div>
</div>