<p *ngIf="error">
  <ngb-alert type="danger" (closed)="error ='' ">
    {{error}}
  </ngb-alert>
</p>
<div class="container">
  <div class="row">
    <div class="col-12 " >
      <div class="jumbotron card card-block mt-1" style="color: white;border-color: white; ">
      <form [formGroup]="printForm">
        <div class="mb-1">
          <b> Select print: </b>

          <div class="input-group ">

            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <select *ngIf="!loading" class="form-control" formControlName="frm_file_to_print">
              <option *ngFor="let file of printUiData.listFiles" [ngValue]="file.fileName">
                {{ file.fileName }}
              </option>
            </select>

            <div class="input-group-append">

              <fa-icon class="input-group-text" [icon]="faUpload" id="basic-addon2" routerLink="/fileUpload"></fa-icon>
            </div>
          </div>

          <!-- <ngb-timepicker [(ngModel)]="time" [seconds]="true"></ngb-timepicker> -->

        </div>

        Extractor fan on auto:<br />
        <app-extr-auto-button class="mb-1" [loadOnInit]="true"></app-extr-auto-button>

        <br />
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" value="" id="autoPrinterShutdown"
            formControlName="frm_auto_power_off">
          <label class="form-check-label" for="autoPrinterShutdown">
            Auto shutdown printer
          </label>
        </div>

        <hr style="border-color: white" />
        <div class="mt-2">
          <Button [disabled]="loading || printUiData?.printing || stoppingLoading" class="btn btn-success mr-1"
            (click)="start()">Start</Button>
          <button [disabled]="!printUiData?.printing || stoppingLoading" class="btn btn-danger mr-1" (click)="stop()">
            <span *ngIf="stoppingLoading" class="spinner-border spinner-border-sm mr-1"></span> Stop</button>
            <button [disabled]="!printUiData?.printing || stoppingLoading" class="btn btn-info mr-1" (click)="stop()">
              <span *ngIf="stoppingLoading" class="spinner-border spinner-border-sm mr-1"></span> Pause</button>
          <button [disabled]="stoppingLoading" class="btn btn-primary " routerLink="/"> Back </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>