
<p *ngIf="error">
  <ngb-alert type="danger" (closed)="error ='' ">
    {{error}}
  </ngb-alert>
</p>
<p *ngIf="message">
  <ngb-alert type="success" (closed)="message = ''">
    <div [innerHTML]="message"></div>
  </ngb-alert>
</p>
<p *ngIf="printMessage" class="ml-2 mr-3" style="color: white;border-color: white; " >
  {{printMessage}}
  <span *ngIf="printData.percentComplete > -1">
    <ngb-progressbar type="info" [value]="printData.percentComplete">{{printData.percentComplete}}%</ngb-progressbar>
  </span>
  <span *ngIf="printData.printingModel">
    <button [disabled]="pausePrintLoading" class="btn btn-primary btn-sm" (click)="pausePrint()">   
      <span *ngIf="pausePrintLoading" class="spinner-border spinner-border-sm mr-1"></span>
     {{printPauseBtnTxt}}</button>
  </span>
  <span *ngIf="coolingDelay">
    <button [disabled]="coolingDelayLoading" class="btn btn-primary btn-sm" (click)="cancelShutdown()">   
      <span *ngIf="coolingDelayLoading" class="spinner-border spinner-border-sm mr-1"></span>
      Cancel shutdown</button>
  </span>
</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="jumbotron card card-block" style="color: white;border-color: white; ">
            <p class="mb-1">
              <fa-icon class="mr-1 " style="font-size: 2em; " [icon]="faFan"></fa-icon> {{printData?.extracFanRPM}} - {{
              printData?.extrFanOnAuto == true ? 'Auto' : 'Manual' }}
            </p>

            <p class="mb-1">
              <fa-icon class="mr-1" style="font-size: 2em; " [icon]="faTachometerAlt"></fa-icon>
              {{printData?.extracFanSpeed}}%
            </p>
            <p class="mb-1">

              <img class="images" style src="assets/pollution.png" width="36" height="36" />
              {{printData?.airQualityVoc}} ppm
            </p>
          </div>
        </div>

        <div class="col-6  ">
          <!-- <div class="jumbotron card card-block" style="color: white;border-color: white;  min-height: 160px;"> -->

          <div class="row">
            <div class="col-6  " style="padding-left: 5px" (click)="light()" >
              <div class="jumbotron card card-block" style="color: white;border-color: white; ; min-height: 78px; ">
                <div style="font-size: 2.4em; " [ngStyle]="{'color': lightColor}" class="center">
                  <fa-icon [icon]="faLightbulb"></fa-icon>
                  <span *ngIf="lightLoading" class="spinner-border spinner-border-sm mr-1"></span>
                </div>
              </div>
            </div>


            <div class="col-6 " style="padding-left: 5px;" (click)="connectPrinter()">
              <div class="jumbotron card card-block mr-2 " style="color: white;border-color: white; ; min-height: 76px;  ">

                <img class="images" [src]="printerImg" width="48" height="48" class="center" />
                <div *ngIf="coolingDelay" class="text-block " >   
            
                   <app-countdown [timerStartDate]="countdownToDate"></app-countdown>             
                
                 </div>  <!-- -->
                <div *ngIf="printerOnOffLoading" class=" spinner-block spinner-border spinner-border-sm "></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12  " style="padding-left: 5px; ">
              <div class="jumbotron card card-block mr-2" style="color: white;border-color: white; ; min-height: 76px; ">

                <span>
                  <p class="ml-2 mb-1" style="font-size: 2.4em; ">
                    <fa-icon [icon]="faThermometerHalf"></fa-icon> {{printData?.temperature}}
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-1">
      <div class="jumbotron card card-block mr-2" style="color: white;border-color: white; ">
        <p>
          <img class="images float-left" style src="assets/nozzle_temp.png" width="36" height="36" />
          {{printData.nozzleTemp}} / {{printData.nozzleTempMax}}

          <span class="ml-3">
            <img class="images " style src="assets/heatedBed.png" width="36" height="36" />
            {{printData.bedTemp}} / {{printData.bedTempMax}}
          </span>
        </p>

      </div>
    </div>
  </div>
</div>