<h2 style="color: white;"> Enclosure monitor v1.0

  <div ngbDropdown class="d-inline-block float-right" placement="bottom-right">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      <fa-icon [icon]="faCog"></fa-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Print</button>
      <button ngbDropdownItem routerLink="/extracFan">Extractor</button>
      <button ngbDropdownItem routerLink="/lights">Lights</button>
      <button ngbDropdownItem routerLink="/config">Config</button>
      <button ngbDropdownItem (click)="shutDown()">Shutdown</button>
    </div>
  </div>
</h2>

<p *ngIf="error">
  <ngb-alert type="danger" (closed)="error ='' ">
    {{error}}
  </ngb-alert>
</p>
<p *ngIf="message">
  <ngb-alert type="success" (closed)="message = ''">
    {{message}}
  </ngb-alert>
</p>
<!-- <p *ngIf="message">
  <ngb-alert type="info" [dismissible]="false">
    Printing. time remaining: 2:45.33
  </ngb-alert>
</p> -->
<div class="container">
  <div class="row">
    <div class="col-5 ml-1" style="color: white;   border-style: solid;  border-color: white;">

      <p>
        <fa-icon class="mr-1 " style="font-size: 2em; " [icon]="faFan"></fa-icon> {{dashBoard?.extracFanRPM}} - {{ dashBoard?.extrFanOnAuto == true ? 'Auto' : 'Manual' }}
      </p> 

      <p>
        <fa-icon class="mr-1" style="font-size: 2em; " [icon]="faTachometerAlt"></fa-icon> {{dashBoard?.extracFanSpeed}}%
      </p>
      <p>

        <img class="images" style src="assets/pollution.png" width="36" height="36" />
        {{dashBoard?.airQualityVoc}} ppm
      </p>
    </div>

    <div class="col-6 ml-2" style="color: white;  border-style: solid;  border-color: white;">
      <div>
        <span style="font-size: 3em; " [ngStyle]="{'color': lightColor}">   
          <fa-icon [icon]="faLightbulb"></fa-icon>
        </span>
        
      </div>
      <span style="font-size: 3em; ">
        <p class="ml-2">
          <fa-icon [icon]="faThermometerHalf"></fa-icon> {{dashBoard?.temperature}}
        </p>
      </span>
    </div>


  </div>
</div>