.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* width: 30%; */
  }

  /* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;

    
  }
  .spinner-block {
    position: absolute;
    bottom: 23px;
    right: 35px;
    /* background-color: black; */
    color: white;

    
  }