<h2 style="color: white;">Config</h2>

<p *ngIf="error">
    <ngb-alert type="danger" (closed)="error ='' ">
        {{error}}
    </ngb-alert>
</p>

<div class="container">
    <div class="row">
        <div class="col-6 " style="color: white;">
            <form [formGroup]="configForm" (submit)="submitForm()">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="extrFanAuto()" formControlName="frm_extr_auto">
                <label class="form-check-label" for="defaultCheck1">
                    Extractor Fan On Auto
                </label>
            </div>
            <div class="ml-2">      
                      <label>VOC PPM max:</label>
            <div class="input-group ">               
                <input type="text" class="form-control col-4 form-control-sm" formControlName="frm_voc_ppm_max"/>
                <div *ngIf="config.extractorAuto" class="input-group-append">
                     <fa-icon class="input-group-text " (click)="openFormModal(1)" [icon]="faKeyboard" ></fa-icon>
                </div>
            </div>
        </div>

            <div class="form-group ml-2 ">
                <label>Temp Max:</label>
                <input type="text" class="form-control col-4 form-control-sm" formControlName="frm_temp_max" (click)="openFormModal(2)"/>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="alarmCheck">
                <label class="form-check-label" for="alarmCheck">
                    Activate fire alarm
                </label>
            </div>
            <div class="form-group">
                <label>phone number for SMS</label>
                <input type="text" class="form-control form-control-sm col-6" formControlName="frm_sms_number"  (click)="openFormModal(3)"/>
            </div>
            <div class="form-group">
                <label>Arduio serial</label>
                <input type="text" class="form-control form-control-sm col-6" formControlName="frm_arduino_serial"  (click)="openFormModal(3)"/>
            </div>
            <button class="btn btn-success">Save</button>
            <button class="btn btn-success ml-1" (click)="cancelForm($event)">Cancel</button>
        </form>
        
        </div>
    
    </div>
</div>